--- 
layout: default
---
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<!-- Import Turf Module - Needed to calculate bounding boxes -->
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>

</head>
<body>

    <div class="mapcontainer">
        <div class="flex space-x-2 ">
            <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-nord1 text-white rounded-full">Scale {{ page.scale }}</span>
            <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-nord7 text-white rounded-full">Years {{ page.years_published }}</span>
            <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-nord10 text-white rounded-full">{{ page.nosheets }} map sheets</span>
          </div>
        <h1>{{ page.title }}</h1>
        <a href="{{ page.infourl }}"><button class="btn-light">More info</button></a>
        <div id="map"></div>
        <button id="zoomto" class="btn-blue">Reset map</button>
    </div>
    <div class="featurecontainer">
        <div id="features"></div>
    </div>

<pre id="json"></pre>
<script>
	mapboxgl.accessToken = '{{ site.mapbox-access-token }}';

// Location of the geojson
// Specifying here allows for it to be more easily changed.
// There is also an option where we could load .geojsons local storage if desired.
const dPath = '{{ page.geojsonurl }}';

// There isn't an explicit way to get the bounds of a geojson with GLJS
//   - seems there should be?
// This function allows us to:
// Read any geojson from a URL
async function mapData(){
    //  fetch() retreives data from a URL
    //   - Its an asynchronous command, returns a promise to retreive a value
    //   - By keeping everything in the mapData() function, commands are applied the value not the promise
    const data = await fetch(dPath, {
                                headers: {
                                'Accept': 'application/json'
                                }
                            });
    //  Read geojson from the fetched value
    const geoJson = await data.json();
    //  Turf moddule allows us to get the bounding box of a geojson 
    var bbox = turf.extent(geoJson);
    //  fit() will fit the map to the bounding box of our geojson
    //  Called later after map is initialized
    function fit() {
                    map.fitBounds(bbox, {padding: 50});
                    }

    //  Create the map - zoom and center are arbitrary
    const map = new mapboxgl.Map({
                container: 'map',
                zoom: 4,
                center: [-125.193328, 50.506185],
                style: '{{ site.mapbox-style }}'
                });
    map.addControl(new mapboxgl.NavigationControl());
    //  Fit to bbox, overwrite the center/zoom
    fit();
    //  On load - add geojson
    map.on('load', function() {

    //  Add the geojson as a map source
        map.addSource('Data Layer', {
        type: 'geojson',
        data: geoJson
        });

    //  Add the layer, reference the source to minimize redundancy
    map.addLayer({
                'id': 'Data Layer Values',
                'type': 'fill',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'fill-color': '#FF8484',
                        'fill-opacity': 0,
                        'fill-outline-color': 'black'
                    },
                });
        
    // skeleton outline of the grid
    map.addLayer({
                'id': 'Data Layer Frame',
                'type': 'line',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'line-color': '#4c566a',
                        'line-width': .5
                    },
                });
    


    // Call fit when clicking the zoomto button
    document.getElementById('zoomto').addEventListener('click', () => {
        fit()
    });
    });

    // Create an empty marker
    const marker = new mapboxgl.Marker();
    // Function to add the marker
    function add_marker (event) {
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
        marker.setLngLat(coordinates).addTo(map);
        }
        
    // Display desired attributes on click
    map.on('click', (e) => {
        // Add the marker (show where the click is)
        add_marker(e);

        // Get features at point click
        const features = map.queryRenderedFeatures(e.point, {layers: ['Data Layer Values']});
         // Limit the number of properties we're displaying for legibility and performance
	    
	    //listener copied from template
	    // add listener
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
      console.log(document.getElementById('features') )

      var featuress = document.getElementById('features')
      
      var coll2 = featuress.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
      
       
        // Create the table

      function makeTable (rArray) {
                 var tbl = ('<table width = 100%><tr>');
             
                 //create header
                var display = "<button  type=\"button\" class=\"collapseHeader\"><table><tr>  <th>Label</th> <th> Title</th> <th>Date Published</th><th>  </th></tr> </table></button> ";
                 var curLabel;
                 var curTitle;
                 var curDate;
                 

                 //enclose it in a scrollable thing?? (idk how)
       //for loop to create all the collapsible stuff
      for (var i = 0; i < rArray.length; i++) {
        //rArray.length!!!
        curLabel = "";
        
        curTitle = "";
        
        curDate = "";
        
        //make sure they have titles etc before adding them
        if (rArray[i].properties.label) {
          curLabel = rArray[i].properties.label;
          
        }
        if (rArray[i].properties.title) {
          curTitle = rArray[i].properties.title;
        }
        if (rArray[i].properties.datePub) {
          curDate = rArray[i].properties.datePub;
        }
        
        //create title info  
        var str1 = "<button  type=\"button\" class=\"collapsible\"><table><tr>  <th> "
        var str2 = "</th> <th>"
          display = display + str1 + curLabel +str2 + curTitle + "</th> <th>" + curDate + "</th>"
         
        //add image link
        if (rArray[i].properties.websiteUrl) {
          display = display + "<th><a href=\" " +rArray[i].properties.websiteUrl + "\" ><button class=\"btn-blue\">Map</button></a></th>"
        }
        
        display = display+ "</tr> </table></button> "
        
        //add info to dropdown
        display = display + "<div class=\"content\">"
         for (var key in rArray[i].properties) {
           var info;
           
           if (key== "websiteUrl" || key == "download") {
             info = "<a href=\" " + rArray[i].properties[key] + "\">" + rArray[i].properties[key]+ " </a>"
             
                 display = display + "<span>"+ key +":   " + info + "</span> <br>" ;
           } else {
             info = rArray[i].properties[key]
                 display = display + "<p>"+ key +":   " + info + "</p> " ;
           }
      
           
           
         }

                
           display = display+ "</div>"      
         }
    
        console.log(display)
              return display }

        // document.getElementById('features').innerHTML = displayFeatures[0].properties //makeTable(displayFeatures)
        document.getElementById('features').innerHTML = makeTable()
        
    });

    




};

// Call mapData() to initalize the map
mapData();

</script>
	
	<style>
        /* Style the button that is used to open and close the collapsible content */
      
      table { 
      table-layout: fixed;
      }
      
      th,td { 
      width: "30%";
      overflow: hidden
      }
      .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      .collapseHeader {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }

        .collapsible:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: white;
        float: right;
        margin-left: 5px;
      }

      .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
      }

      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
      .active, .collapsible:hover {
        background-color: #ccc;
      }

      /* Style the collapsible content. Note: hidden by default */
      .content {
        padding: 0 18px;

        overflow: hidden;
        background-color: #444;
      }
    </style>
 
</body>
</html>
